# Wordle Solver

In [15]:
# import functions
from wordle_functions import main, repetitive_letters, load_data, score, set_score, reset_score

In [16]:
# help(main)

In [17]:
# Main function that returns a list of possible words
green_letters = 'E'
green_positions = [5]
yellow_letters = 'RS'
yellow_positions = [2,3]
bad_letters = 'CANGUTO'

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['serve', 'shire', 'spire', 'spree', 'verse']

In [18]:
# Repetitive letters
letters_df = repetitive_letters(wordle_list=words)
print(letters_df.to_string(index=False))

Letters  Count
      E      8
      S      5
      R      5
      V      2
      I      2
      P      2
      H      1

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST, SPOUT

In [19]:
# GLEAN, LADEN, NAVEL, PANEL, PENAL

In [20]:
# Main function that returns a list of possible words
green_letters = ''
green_positions = []
yellow_letters = 'VIP'
yellow_positions = []
bad_letters = ''

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['pivot', 'privy', 'vapid', 'viper']

In [21]:
# help(score)

In [22]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won
0   Murilo         88
1  Barbara         34
2     Draw         76

In [23]:
# Update score
score_df = score()
score_df

     Names  Games_Won
0   Murilo         89
1  Barbara         34
2     Draw         76

In [24]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won
 Murilo         89
Barbara         34
   Draw         76

In [25]:
# help(reset_score)

#### Set custom score

In [26]:
# help(set_score)

In [27]:
# # Set custom score
# df = set_score(m_score=21, b_score=10, draw_score=18)
# df

#### Reset score

In [28]:
## Reset score
# reset_score()