# Wordle Solver

In [15]:
%run -i wordle_functions.py

In [16]:
# help(main)

In [17]:
# Main function that returns a list of possible words
green_letters = ''
green_positions = []
yellow_letters = 'RAE'
yellow_positions = [2,3,5]
bad_letters = 'CN'

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['after', 'aider', 'alert', 'alter', 'amber', 'avert', 'baker', 'baler', 'debar', 'eager', 'early', 'earth', 'eater', 'extra', 'feral', 'gamer', 'gayer', 'gazer', 'harem', 'hater', 'lager', 'later', 'layer', 'maker', 'opera', 'paler', 'paper', 'parer', 'payer', 'rarer', 'rebar', 'regal', 'rehab', 'relax', 'relay', 'repay', 'safer', 'shear', 'smear', 'spear', 'swear', 'taker', 'tamer', 'taper', 'terra', 'wafer', 'wager', 'water', 'waver', 'zebra']

In [18]:
# Repetitive letters
letters_df = repetitive_letters(wordle_list=words)
print(letters_df.to_string(index=False))

Letters  Count
      R     55
      E     52
      A     50
      T     14
      L     12
      P      9
      B      7
      G      7
      M      6
      Y      6
      H      5
      S      5
      W      5
      F      4
      K      3
      D      2
      V      2
      X      2
      Z      2
      I      1
      O      1

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST, SPOUT

In [19]:
# GLEAN, LADEN, NAVEL, PANEL, PENAL

In [22]:
# Main function that returns a list of possible words
green_letters = ''
green_positions = []
yellow_letters = 'TLP'
yellow_positions = []
bad_letters = ''

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

[]

In [7]:
# help(score)

In [8]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won
0   Murilo         76
1  Barbara         33
2     Draw         62

In [9]:
# Update score
score_df = score()
score_df

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D]: D

     Names  Games_Won
0   Murilo         76
1  Barbara         33
2     Draw         63

In [10]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won
 Murilo         76
Barbara         33
   Draw         63

In [11]:
# help(reset_score)

#### Set custom score

In [12]:
# help(set_score)

In [13]:
# # Set custom score
# df = set_score(m_score=21, b_score=10, draw_score=18)
# df

#### Reset score

In [14]:
## Reset score
# reset_score()