# Wordle Solver

In [1]:
%run -i wordle_functions.py

In [2]:
help(main)

Help on function main in module __main__:

main(green_letters: str, green_letter_positions: list, yellow_letters: str, yellow_letter_positions: list, bad_letters: str) -> list
    Function takes  5 arguments:
    1. green_letters --> string that represents green letters in wordle guess
    2. green_letter_positions --> list of the positions of the green_letters ranging from 1 to 5
    3. yellow_letters --> string that represents yellow letters in wordle guess
    4. yellow_letter_positions --> list of the positions of the yellow_letters ranging from 1 to 5
    5. bad_letters --> string that represents gray letters in wordle guess

In [3]:
# Main function that returns a list of possible words
green_letter = ''
green_positions = []
yellow_letter = 'ANEL'
yellow_positions = [3,4,5,4]
bad_letter = 'CRK'

# Main function that returns a list of possible words
words = main(green_letter, green_positions, yellow_letter, yellow_positions, bad_letter)
print(words)

['alien', 'angel', 'glean', 'laden', 'navel', 'panel', 'penal']

In [4]:
# Repetitive letters
letters_df = repetitive_letters(word_list=words)
print(letters_df.to_string(index=False))

Letters  Count
      A      7
      L      7
      E      7
      N      7
      G      2
      P      2
      I      1
      D      1
      V      1

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST, SPOUT

In [5]:
# GLEAN, LADEN, NAVEL, PANEL, PENAL

In [6]:
# Main function that returns a list of possible words
green_letter = ''
green_positions = []
yellow_letter = 'PGAE'
yellow_positions = []
bad_letter = ''

# Main function that returns a list of possible words
main(green_letter, green_positions, yellow_letter, yellow_positions, bad_letter)

['agape', 'grape']

In [7]:
# help(score)

In [8]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won  Draw
0   Murilo         20    16
1  Barbara         10    16

In [9]:
# Update score
score_df = score()
score_df

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D]:

     Names  Games_Won  Draw
0   Murilo         20    16
1  Barbara         10    16

In [10]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won  Draw
 Murilo         20    16
Barbara         10    16

In [11]:
# help(reset_score)

#### Set custom score

In [12]:
# help(set_score)

In [13]:
## Set custom score
# df = set_score(m_score=10, b_score=4, draw=6)
# df

#### Reset score

In [14]:
## Reset score
# reset_score()