# Wordle Solver

In [1]:
%run -i wordle_functions.py

In [2]:
# help(main)

In [30]:
# Main function that returns a list of possible words
green_letters = 'O'
green_positions = [2]
yellow_letters = 'RAT'
yellow_positions = [2,3,3]
bad_letters = 'CNEHLY'

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['aorta']

In [31]:
# Repetitive letters
letters_df = repetitive_letters(wordle_list=words)
print(letters_df.to_string(index=False))

Letters  Count
      A      2
      O      1
      R      1
      T      1

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST, SPOUT

In [32]:
# GLEAN, LADEN, NAVEL, PANEL, PENAL

In [33]:
# Main function that returns a list of possible words
green_letters = ''
green_positions = []
yellow_letters = 'OYLT'
yellow_positions = []
bad_letters = ''

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['hotly', 'lofty']

In [7]:
# help(score)

In [8]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won
0   Murilo         79
1  Barbara         33
2     Draw         65

In [9]:
# Update score
score_df = score()
score_df

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D]: D

     Names  Games_Won
0   Murilo         79
1  Barbara         33
2     Draw         66

In [10]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won
 Murilo         79
Barbara         33
   Draw         66

In [11]:
# help(reset_score)

#### Set custom score

In [12]:
# help(set_score)

In [13]:
# # Set custom score
# df = set_score(m_score=21, b_score=10, draw_score=18)
# df

#### Reset score

In [14]:
## Reset score
# reset_score()

In [93]:
data = [{'roleId': '6140c2afce30fa000ecaa054', 'isForCreator': False, 'attributeRequirement': {'storedAs': 'notificationPlant', 'dataType': 'list', 'operator': 'isOneOf', 'values': ['Archbold']}},
        {'roleId': '612691d2ddcaab000f4a9b21', 'isForCreator': False, 'attributeRequirement': {'storedAs': 'notificationPlant', 'dataType': 'list', 'operator': 'isOneOf', 'values': ['Aurora']}},
        {'roleId': '6140c265ce30fa000ecaa03e', 'isForCreator': False, 'attributeRequirement': {'storedAs': 'notificationPlant', 'dataType': 'list', 'operator': 'isOneOf', 'values': ['Beaver Dam']}},
        {'roleId': '6140c60a0d3863000f5478ea', 'isForCreator': False, 'attributeRequirement': {'storedAs': 'notificationPlant', 'dataType': 'list', 'operator': 'isOneOf', 'values': ['Boisbriand']}},
        {'roleId': '6140c643f0fe6a000e4fe3d0', 'isForCreator': False, 'attributeRequirement': {'storedAs': 'notificationPlant', 'dataType': 'list', 'operator': 'isOneOf', 'values': ['Brookston']}},
        {'roleId': '6140c65a0d3863000f54792b', 'isForCreator': False, 'attributeRequirement': {'storedAs': 'notificationPlant', 'dataType': 'list', 'operator': 'isOneOf', 'values': ['Centralia']}}]

In [140]:
import json
import csv

def open_json(file_name: str) -> list:
    # Opening JSON file and loading the data into the variable data
    with open(file_name) as json_file:
        data = json.load(json_file)
    return data

def convert_json_csv(data: list, download=False) -> pd.DataFrame:
    dic = {}
    
    # Loop through list and convert to dictionary
    for row in data:  # iterate every row
        for key in row:
            if type(row[key]) != dict:  # if key is not a dictionary type object
                if key not in dic.keys():  # if key not in dictionary
                    dic[key] = [row[key]]
                else:
                    dic[key].append(row[key])  # add element to dictionary key
            else:
                for ele in row[key]:  # iterate nested dictionary
                    sub_dic = row[key]
                    if ele not in dic.keys():  # if key is not in dictionary
                        dic[ele] = [sub_dic[ele]]
                    else:
                        dic[ele].append(sub_dic[ele])  # add element to dictionary key
    
    # Convert dictionary to pandas DF
    df = pd.DataFrame(dic)
    
    # Download CSV
    if download:
        df.to_csv("output.csv")
    
    return df

In [142]:
data = open_json(file_name="data.json")
df = convert_json_csv(data=data, download=False)
display(df)

,roleId,isForCreator,storedAs,dataType,operator,values
0,6140c2afce30fa000ecaa054,False,notificationPlant,list,isOneOf,[Archbold]
1,612691d2ddcaab000f4a9b21,False,notificationPlant,list,isOneOf,[Aurora]
2,6140c265ce30fa000ecaa03e,False,notificationPlant,list,isOneOf,[Beaver Dam]
3,6140c60a0d3863000f5478ea,False,notificationPlant,list,isOneOf,[Boisbriand]
4,6140c643f0fe6a000e4fe3d0,False,notificationPlant,list,isOneOf,[Brookston]
5,6140c65a0d3863000f54792b,False,notificationPlant,list,isOneOf,[Centralia]