# Wordle Solver

In [1]:
%run -i wordle_functions.py

In [2]:
# help(main)

In [3]:
# Main function that returns a list of possible words
green_letters = 'EAP'
green_positions = [5,2,3]
yellow_letters = 'AL'
yellow_positions = [3,2]
bad_letters = 'CRNBST'

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['maple']

In [4]:
# Repetitive letters
letters_df = repetitive_letters(wordle_list=words)
print(letters_df.to_string(index=False))

Letters  Count
      M      1
      A      1
      P      1
      L      1
      E      1

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST, SPOUT

In [5]:
# GLEAN, LADEN, NAVEL, PANEL, PENAL

In [6]:
# Main function that returns a list of possible words
green_letters = ''
green_positions = []
yellow_letters = 'PVI'
yellow_positions = []
bad_letters = ''

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['pivot', 'privy', 'vapid', 'viper']

In [7]:
# help(score)

In [8]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won
0   Murilo         62
1  Barbara         27
2     Draw         50

In [9]:
# Update score
score_df = score()
score_df

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D]: B

     Names  Games_Won
0   Murilo         62
1  Barbara         28
2     Draw         50

In [10]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won
 Murilo         62
Barbara         28
   Draw         50

In [11]:
# help(reset_score)

#### Set custom score

In [12]:
# help(set_score)

In [13]:
# # Set custom score
# df = set_score(m_score=21, b_score=10, draw_score=18)
# df

#### Reset score

In [14]:
## Reset score
# reset_score()

In [15]:
import pandas as pd
import numpy as np

In [16]:
# Discretize
arr = [1, 7, 5, 4, 6, 3, 0, 9]
disc, bins = pd.cut(arr, bins=10, labels=list(range(10)), retbins=True)
print(disc)
print(bins)

[1, 7, 5, 4, 6, 3, 0, 9]
Categories (10, int64): [0 < 1 < 2 < 3 ... 6 < 7 < 8 < 9]
[-0.009  0.9    1.8    2.7    3.6    4.5    5.4    6.3    7.2    8.1
  9.   ]

In [17]:
n = 3.5
n_bin = [disc[i] for i in range(len(bins)-1) if bins[i] <= n <= bins[i+1]]
n_bin

[4]

In [18]:
import random as rand

In [33]:
action = action = rand.randint(-1, 1)
action

-1