# Wordle Solver

In [1]:
# import functions
from wordle_functions import main, repetitive_letters, load_data, score, set_score, reset_score

In [2]:
# help(main)

In [3]:
# Main function that returns a list of possible words
green_letters = 'B'
green_positions = [1]
yellow_letters = 'RUL'
yellow_positions = [2,4]
bad_letters = 'CANESHOTADY'

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['blurb']

In [4]:
# Repetitive letters
letters_df = repetitive_letters(wordle_list=words)
print(letters_df.to_string(index=False))

Letters  Count
      B      2
      L      1
      U      1
      R      1

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST, SPOUT

In [5]:
# GLEAN, LADEN, NAVEL, PANEL, PENAL

In [6]:
# Main function that returns a list of possible words
green_letters = ''
green_positions = []
yellow_letters = 'YBLD'
yellow_positions = []
bad_letters = ''

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['badly']

In [7]:
# help(score)

In [8]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won
0   Murilo         92
1  Barbara         35
2     Draw         77

In [9]:
# Update score
score_df = score()
score_df

     Names  Games_Won
0   Murilo         92
1  Barbara         36
2     Draw         77

In [10]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won
 Murilo         92
Barbara         36
   Draw         77

In [11]:
# help(reset_score)

#### Set custom score

In [12]:
# help(set_score)

In [13]:
# # Set custom score
# df = set_score(m_score=21, b_score=10, draw_score=18)
# df

#### Reset score

In [14]:
## Reset score
# reset_score()