# Wordle Solver

In [5]:
%run -i wordle_functions.py

In [6]:
help(main)

Help on function main in module __main__:

main(good_letters, letter_positions, yellow_letters, bad_letters)
    Function takes  4 arguments:
    1. good_letters --> string that represents green letters in wordle guess
    2. letter_positions --> list of the positions of the good_letters ranging from 1 to 5
    3. yellow_letters --> string that represents yellow letters in wordle guess
    4. bad_letters --> string that represents gray letters in wordle guess

In [38]:
# Main function that returns a list of possible words
good_letters = 'A'
letter_positions = [2]
yellow_letters = 'MD'
bad_letters = 'SLETCRONEHUI'

# Main function that returns a list of possible words
main(good_letters, letter_positions, yellow_letters, bad_letters)

['madam']

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON

In [39]:
# BERTH, ETHER

In [40]:
# Main function that returns a list of possible words
good_letters = ''
letter_positions = []
yellow_letters = 'DMI'
bad_letters = ''

# Main function that returns a list of possible words
main(good_letters, letter_positions, yellow_letters, bad_letters)

['admin', 'admit', 'denim', 'dimly', 'humid', 'idiom', 'media', 'medic', 'midge', 'midst', 'timid']

In [41]:
# help(score)

In [42]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won  Draw
0   Murilo          8     4
1  Barbara          2     4

In [43]:
# Update score
score_df = score()
score_df

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D] M

     Names  Games_Won  Draw
0   Murilo          9     4
1  Barbara          2     4

In [44]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won  Draw
 Murilo          9     4
Barbara          2     4

In [45]:
# help(reset_score)

#### Set custom score

In [46]:
# Set custom score
# df = set_score(m_score, b_score, draw)
# df

#### Reset score

In [47]:
# Reset score
# reset_score()