# Wordle Solver

In [1]:
%run -i wordle_functions.py

In [2]:
help(main)

Help on function main in module __main__:

main(green_letters: str, green_letter_positions: list, yellow_letters: str, yellow_letter_positions: list, bad_letters: str) -> None
    Function takes  5 arguments:
    1. green_letters --> string that represents green letters in wordle guess
    2. green_letter_positions --> list of the positions of the green_letters ranging from 1 to 5
    3. yellow_letters --> string that represents yellow letters in wordle guess
    4. yellow_letter_positions --> list of the positions of the yellow_letters ranging from 1 to 5
    5. bad_letters --> string that represents gray letters in wordle guess

In [3]:
# Main function that returns a list of possible words
green_letter = 'T'
green_positions = [5]
yellow_letter = 'NU'
yellow_positions = [4,4]
bad_letter = 'CRAESHO'

# Main function that returns a list of possible words
main(green_letter, green_positions, yellow_letter, yellow_positions, bad_letter)

['unfit', 'unlit']

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST, SPOUT

In [4]:
# DEBAR, REBAR, SHEAR, SMEAR, SPEAR, SWEAR

In [5]:
# Main function that returns a list of possible words
green_letter = 'R'
green_positions = [5]
yellow_letter = 'AE'
yellow_positions = [1,4]
bad_letter = 'CNFT'

# Main function that returns a list of possible words
main(green_letter, green_positions, yellow_letter, yellow_positions, bad_letter)

['debar', 'rebar', 'shear', 'smear', 'spear', 'swear']

In [6]:
# help(score)

In [7]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won  Draw
0   Murilo         18    14
1  Barbara         10    14

In [8]:
# Update score
score_df = score()
score_df

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D]: M

     Names  Games_Won  Draw
0   Murilo         19    14
1  Barbara         10    14

In [9]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won  Draw
 Murilo         19    14
Barbara         10    14

In [10]:
# help(reset_score)

#### Set custom score

In [11]:
# help(set_score)

In [12]:
## Set custom score
# df = set_score(m_score=10, b_score=4, draw=6)
# df

#### Reset score

In [13]:
## Reset score
# reset_score()