# Wordle Solver

In [1]:
# import functions
from wordle_functions import main, repetitive_letters, load_data, score, set_score, reset_score

In [2]:
# help(main)

In [3]:
# Main function that returns a list of possible words
green_letters = 'AL'
green_positions = [3,2]
yellow_letters = ''
yellow_positions = []
bad_letters = 'CRNESOTH'

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['flail', 'flaky', 'llama', 'plaid', 'plaza']

In [4]:
# Repetitive letters
letters_df = repetitive_letters(wordle_list=words)
print(letters_df.to_string(index=False))

Letters  Count
      L      7
      A      7
      F      2
      I      2
      P      2
      K      1
      Y      1
      M      1
      D      1
      Z      1

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST, SPOUT

In [5]:
# Main function that returns a list of possible words
green_letters = ''
green_positions = []
yellow_letters = 'FPY'
yellow_positions = []
bad_letters = ''

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['puffy']

In [6]:
# help(score)

In [7]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won
0   Murilo         99
1  Barbara         38
2     Draw         84

In [8]:
# Update score
score_df = score()
score_df

     Names  Games_Won
0   Murilo        100
1  Barbara         38
2     Draw         84

In [9]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won
 Murilo        100
Barbara         38
   Draw         84

In [10]:
# help(reset_score)

#### Set custom score

In [11]:
# help(set_score)

In [12]:
# # Set custom score
# df = set_score(m_score=21, b_score=10, draw_score=18)
# df

#### Reset score

In [13]:
## Reset score
# reset_score()