# Wordle Solver

In [1]:
%run -i wordle_functions.py

In [2]:
# help(main)

In [3]:
# Main function that returns a list of possible words
green_letters = ''
green_positions = []
yellow_letters = 'PLHY'
yellow_positions = [2,5,4,5]
bad_letters = 'CRANESOIMUS'

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['glyph']

In [4]:
# Repetitive letters
letters_df = repetitive_letters(wordle_list=words)
print(letters_df.to_string(index=False))

Letters  Count
      G      1
      L      1
      Y      1
      P      1
      H      1

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST, SPOUT

In [5]:
# GLEAN, LADEN, NAVEL, PANEL, PENAL

In [6]:
# Main function that returns a list of possible words
green_letters = ''
green_positions = []
yellow_letters = 'YUMH'
yellow_positions = []
bad_letters = ''

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['mushy']

In [7]:
# help(score)

In [8]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won
0   Murilo         62
1  Barbara         28
2     Draw         52

In [9]:
# Update score
score_df = score()
score_df

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D]: B

     Names  Games_Won
0   Murilo         62
1  Barbara         29
2     Draw         52

In [10]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won
 Murilo         62
Barbara         29
   Draw         52

In [11]:
# help(reset_score)

#### Set custom score

In [12]:
# help(set_score)

In [13]:
# # Set custom score
# df = set_score(m_score=21, b_score=10, draw_score=18)
# df

#### Reset score

In [14]:
## Reset score
# reset_score()

In [27]:
import pandas as pd

In [44]:
def get_bins(df, n_bins=7) -> pd.DataFrame:
    disc = pd.cut(df, bins=n_bins, labels=list(range(n_bins)), retbins=True)
    return disc

In [67]:
array = np.array([1,2,5,7,3,9,6])
disc, bins = get_bins(df=array, n_bins=7)
print(disc)
print(bins)

[0, 0, 3, 5, 1, 6, 4]
Categories (7, int64): [0 < 1 < 2 < 3 < 4 < 5 < 6]
[0.992      2.14285714 3.28571429 4.42857143 5.57142857 6.71428571
 7.85714286 9.        ]

In [83]:
s = 22
sb = np.argmax([s <= bins]) - 1
sb

-1