# Wordle Solver

In [1]:
%run -i wordle_functions.py

In [2]:
# help(main)

In [3]:
# Main function that returns a list of possible words
green_letters = ''
green_positions = []
yellow_letters = 'RAEALY'
yellow_positions = [2,3,5,1,4,5]
bad_letters = 'CNPT'

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['layer']

In [4]:
# Repetitive letters
letters_df = repetitive_letters(wordle_list=words)
print(letters_df.to_string(index=False))

Letters  Count
      L      1
      A      1
      Y      1
      E      1
      R      1

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST, SPOUT

In [5]:
# GLEAN, LADEN, NAVEL, PANEL, PENAL

In [6]:
# Main function that returns a list of possible words
green_letters = ''
green_positions = []
yellow_letters = 'TLPY'
yellow_positions = []
bad_letters = ''

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['aptly']

In [7]:
# help(score)

In [8]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won
0   Murilo         83
1  Barbara         34
2     Draw         70

In [9]:
# Update score
score_df = score()
score_df

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D]: M

     Names  Games_Won
0   Murilo         84
1  Barbara         34
2     Draw         70

In [10]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won
 Murilo         84
Barbara         34
   Draw         70

In [11]:
# help(reset_score)

#### Set custom score

In [12]:
# help(set_score)

In [13]:
# # Set custom score
# df = set_score(m_score=21, b_score=10, draw_score=18)
# df

#### Reset score

In [14]:
## Reset score
# reset_score()

In [15]:
# Convert JSON to CSV
import json
import pandas as pd

In [16]:
def open_json(file_name: str) -> list:
    # Opening JSON file and loading the data into the variable data
    with open(file_name) as json_file:
        json_file = json.load(json_file)
    
    data = []
    for i in json_file['statusSteps']:
        data.append(i['notificationOptions']['notifyOnAttributeSelection'])
        
    return data

In [17]:
def convert_json_csv(data: list, download=False) -> pd.DataFrame:
    dic = {}
    
    # Loop through list and convert to dictionary
    for row in data:  # iterate every row
        for key in row:
            if type(row[key]) != dict:  # if key is not a dictionary type object
                if key not in dic.keys():  # if key not in dictionary
                    dic[key] = [row[key]]
                else:
                    dic[key].append(row[key])  # add element to dictionary key
            else:
                for ele in row[key]:  # iterate nested dictionary
                    sub_dic = row[key]
                    if ele not in dic.keys():  # if key is not in dictionary
                        dic[ele] = [sub_dic[ele]]
                    else:
                        dic[ele].append(sub_dic[ele])  # add element to dictionary key
    
    # Convert dictionary to pandas DF
    df = pd.DataFrame(dic)
    
    # Download CSV
    if download:
        df.to_csv("output.csv")
    
    return df

In [18]:
# Call functions
def convert(file_name="ConagraPerfect.json"):
    data = open_json(file_name=file_name)
    df = convert_json_csv(data=data, download=False)
    display(df)

In [ ]:
# Read JSON file
data = open_json(file_name="ConagraPerfect.json")

data = data[0]
data

df = convert_json_csv(data=data, download=True)
display(df)

for d in range(1, len(lst)):
    if len(data[d]) > 0:
        new_df = convert_json_csv(data=data[d], download=False)
        df = pd.concat([df, new_df])

display(df)
df.to_csv("output.csv")