# Wordle Solver

In [1]:
from utils import *
%load_ext autoreload
%autoreload 2

In [2]:
# Initialize Wordle class
wordle = Wordle()

# Main function that returns a list of possible words
green_letters = "e"
green_positions = [5]
yellow_letters = "i"
yellow_positions = [4]
bad_letters = "cranlous"

# Find words in a list of possible words
words = wordle.find_words(
    green_letters, green_positions, yellow_letters, yellow_positions, bad_letters
)
print(words)

['midge', 'tithe', 'white']

In [3]:
# Repetitive letters
letters_df = wordle.repetitive_letters(wordle_list=words)
print(letters_df.to_string(index=False))

Letters  Count
      I      3
      E      3
      T      3
      H      2
      M      1
      D      1
      G      1
      W      1

#### Choosing next word

In [4]:
# Main function that returns a list of possible words
green_letters = ""
green_positions = []
yellow_letters = "louis"
yellow_positions = []
bad_letters = ""

# Find words in a list of possible words
words = wordle.find_words(
    green_letters,
    green_positions,
    yellow_letters,
    yellow_positions,
    bad_letters,
    answer_word_list=False,
)
print(words)

['louis']

In [5]:
df = wordle.load_data(file_name="wordle_ranking.csv")
df

     Names  Games_Won
0   Murilo        250
1  Barbara        102
2     Draw        249

In [6]:
# Update score
score_df = wordle.score()
score_df

     Names  Games_Won
0   Murilo        250
1  Barbara        103
2     Draw        249

In [7]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won
 Murilo        250
Barbara        103
   Draw        249

In [8]:
# help(wordle.reset_score)

#### Set custom score

In [9]:
# help(wordle.set_score)

In [10]:
# # Set custom score
# df = wordle.set_score(m_score=237, b_score=96, draw_score=237)
# df

#### Reset score

In [11]:
## Reset score
# wordle.reset_score()