# Wordle Solver

In [1]:
# import functions
from wordle_functions import main, repetitive_letters, load_data, score, set_score, reset_score

In [2]:
# help(main)

In [3]:
# Main function that returns a list of possible words
green_letters = 'TYT'
green_positions = [4,5,1]
yellow_letters = 'AS'
yellow_positions = [3,4]
bad_letters = 'CRNELOF'

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['tasty']

In [4]:
# Repetitive letters
letters_df = repetitive_letters(wordle_list=words)
print(letters_df.to_string(index=False))

Letters  Count
      T      2
      A      1
      S      1
      Y      1

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST, SPOUT

In [5]:
# Main function that returns a list of possible words
green_letters = ''
green_positions = []
yellow_letters = 'SPIT'
yellow_positions = []
bad_letters = ''

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['posit', 'spilt', 'spite', 'split', 'strip', 'tipsy']

In [6]:
# help(score)

In [7]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won
0   Murilo         98
1  Barbara         37
2     Draw         81

In [8]:
# Update score
score_df = score()
score_df

     Names  Games_Won
0   Murilo         98
1  Barbara         37
2     Draw         82

In [9]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won
 Murilo         98
Barbara         37
   Draw         82

In [10]:
# help(reset_score)

#### Set custom score

In [11]:
# help(set_score)

In [12]:
# # Set custom score
# df = set_score(m_score=21, b_score=10, draw_score=18)
# df

#### Reset score

In [13]:
## Reset score
# reset_score()