# Wordle Solver

In [1]:
%run -i wordle_functions.py

In [2]:
# help(main)

In [3]:
# Main function that returns a list of possible words
green_letters = 'A'
green_positions = [3]
yellow_letters = 'CLC'
yellow_positions = [1,2,4]
bad_letters = 'RNEFK'

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['scald', 'scalp', 'scaly']

In [4]:
# Repetitive letters
letters_df = repetitive_letters(wordle_list=words)
print(letters_df.to_string(index=False))

Letters  Count
      S      3
      C      3
      A      3
      L      3
      D      1
      P      1
      Y      1

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST, SPOUT

In [5]:
# GLEAN, LADEN, NAVEL, PANEL, PENAL

In [6]:
# Main function that returns a list of possible words
green_letter = ''
green_positions = []
yellow_letter = 'KSL'
yellow_positions = []
bad_letter = ''

# Main function that returns a list of possible words
words = main(green_letter, green_positions, yellow_letter, yellow_positions, bad_letter)
print(words)

['flask', 'silky', 'skill', 'skulk', 'skull', 'slack', 'sleek', 'slick', 'slink', 'slunk', 'stalk', 'sulky']

In [7]:
# help(score)

In [8]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won
0   Murilo         40
1  Barbara         18
2     Draw         35

In [9]:
# Update score
score_df = score()
score_df

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D]: B

     Names  Games_Won
0   Murilo         40
1  Barbara         19
2     Draw         35

In [10]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won
 Murilo         40
Barbara         19
   Draw         35

In [11]:
# help(reset_score)

#### Set custom score

In [12]:
# help(set_score)

In [13]:
# # Set custom score
# df = set_score(m_score=21, b_score=10, draw_score=18)
# df

#### Reset score

In [14]:
## Reset score
# reset_score()

In [20]:
rows = 100
arr = np.linspace(-np.pi, np.pi, rows)
arr

array([-3.14159265, -3.07812614, -3.01465962, -2.9511931 , -2.88772658,
       -2.82426006, -2.76079354, -2.69732703, -2.63386051, -2.57039399,
       -2.50692747, -2.44346095, -2.37999443, -2.31652792, -2.2530614 ,
       -2.18959488, -2.12612836, -2.06266184, -1.99919533, -1.93572881,
       -1.87226229, -1.80879577, -1.74532925, -1.68186273, -1.61839622,
       -1.5549297 , -1.49146318, -1.42799666, -1.36453014, -1.30106362,
       -1.23759711, -1.17413059, -1.11066407, -1.04719755, -0.98373103,
       -0.92026451, -0.856798  , -0.79333148, -0.72986496, -0.66639844,
       -0.60293192, -0.53946541, -0.47599889, -0.41253237, -0.34906585,
       -0.28559933, -0.22213281, -0.1586663 , -0.09519978, -0.03173326,
        0.03173326,  0.09519978,  0.1586663 ,  0.22213281,  0.28559933,
        0.34906585,  0.41253237,  0.47599889,  0.53946541,  0.60293192,
        0.66639844,  0.72986496,  0.79333148,  0.856798  ,  0.92026451,
        0.98373103,  1.04719755,  1.11066407,  1.17413059,  1.23759711,
        1.30106362,  1.36453014,  1.42799666,  1.49146318,  1.5549297 ,
        1.61839622,  1.68186273,  1.74532925,  1.80879577,  1.87226229,
        1.93572881,  1.99919533,  2.06266184,  2.12612836,  2.18959488,
        2.2530614 ,  2.31652792,  2.37999443,  2.44346095,  2.50692747,
        2.57039399,  2.63386051,  2.69732703,  2.76079354,  2.82426006,
        2.88772658,  2.9511931 ,  3.01465962,  3.07812614,  3.14159265])

In [23]:
r  = np.random.random((1, rows))
r

array([[0.4588438 , 0.93191821, 0.4236721 , 0.14054835, 0.80884384,
        0.56735228, 0.1178451 , 0.86805442, 0.86662596, 0.02772381,
        0.44626942, 0.93679406, 0.86193604, 0.93891755, 0.55317835,
        0.90167669, 0.6744074 , 0.81667097, 0.97525193, 0.98161797,
        0.96341355, 0.41297074, 0.21301776, 0.14109037, 0.26725782,
        0.49639126, 0.53938499, 0.49129093, 0.11706395, 0.5634572 ,
        0.21515022, 0.16016778, 0.55842506, 0.69840429, 0.70722314,
        0.91463254, 0.98793159, 0.83116203, 0.653207  , 0.08629367,
        0.17372174, 0.12382366, 0.08946026, 0.49748821, 0.95441351,
        0.34293226, 0.9025185 , 0.34851519, 0.44015215, 0.85177921,
        0.02888917, 0.80387548, 0.08053731, 0.92307898, 0.88290803,
        0.57090623, 0.01145996, 0.14690407, 0.0574838 , 0.89004346,
        0.61824119, 0.56441962, 0.37621607, 0.34462916, 0.87754398,
        0.83393116, 0.88970497, 0.25000813, 0.67965398, 0.29254305,
        0.38412562, 0.47144354, 0.9804801 , 0.64754334, 0.24036363,
        0.95807443, 0.75491463, 0.78535071, 0.2077356 , 0.60747781,
        0.32168695, 0.96126404, 0.65730271, 0.0979644 , 0.07636576,
        0.535888  , 0.81196643, 0.84794396, 0.18644687, 0.50232905,
        0.31832052, 0.73992434, 0.31113402, 0.49944725, 0.224088  ,
        0.27791123, 0.42268406, 0.86930527, 0.06849579, 0.55921545]])