# Wordle Solver

In [1]:
from wordle.utils import Wordle

%load_ext autoreload
%autoreload 2

### Play Wordle

In [2]:
# initialize Wordle class
wordle = Wordle()

# main function that returns a list of possible words
green_letters = "e"
green_positions = [4]
yellow_letters = "telt"
yellow_positions = [1, 5, 2, 5]
gray_letters = "iarsabah"

# find words in a list of possible words
words = wordle.find_words(
    green_letters,
    green_positions,
    yellow_letters,
    yellow_positions,
    gray_letters,
    answer_word_list=True,
)

# choose a word to play
wordle.choose_word_to_play(word_threshold=2)

Number of possible words: 1
MOTEL 0.0

In [3]:
# # reset score
# wordle.reset_score()

In [4]:
# repetitive letters
letters_df = wordle.repetitive_letters()
print(letters_df.to_string(index=False))

Letters  Count
      M      1
      O      1
      T      1
      E      1
      L      1

In [5]:
df = wordle.load_data()
df

     Names  Games_Won
0   Murilo        450
1  Barbara        200
2     Draw        435

In [6]:
# update score
score_df = wordle.update_score()
score_df

     Names  Games_Won
0   Murilo        450
1  Barbara        201
2     Draw        435

In [7]:
# print results
print(score_df.to_string(index=False))

  Names  Games_Won
 Murilo        450
Barbara        201
   Draw        435

#### Git commit message

In [8]:
# git commit message
commit_message = wordle.get_commit_message()
print(commit_message)

git commit -m "updated wordle 450-201-435, word=MOTEL"

#### Set custom score

In [9]:
# help(wordle.set_score)

In [10]:
# # set custom score
# df = wordle.set_score(m_score=445, b_score=193, draw_score=429)
# df

#### Reset score

In [11]:
# # reset score
# wordle.reset_score()