# Wordle Solver

In [14]:
from wordle.utils import Wordle

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
# Initialize Wordle class
wordle = Wordle()

# Main function that returns a list of possible words
green_letters = "h"
green_positions = [2]
yellow_letters = "eels"
yellow_positions = [5, 2, 3, 5]
bad_letters = "crandtcimp"

# Find words in a list of possible words
words = wordle.find_words(
    green_letters, green_positions, yellow_letters, yellow_positions, bad_letters
)
print(words)

['shelf', 'shell']

In [16]:
# Repetitive letters
letters_df = wordle.repetitive_letters(wordle_list=words)
print(letters_df.to_string(index=False))

Letters  Count
      L      3
      S      2
      H      2
      E      2
      F      1

#### Choosing next word

In [17]:
# Main function that returns a list of possible words
green_letters = ""
green_positions = []
yellow_letters = "hpmi"
yellow_positions = []
bad_letters = ""

# Find words in a list of possible words
words = wordle.find_words(
    green_letters,
    green_positions,
    yellow_letters,
    yellow_positions,
    bad_letters,
    answer_word_list=False,
)
print(words)

['chimp']

In [18]:
df = wordle.load_data()
df

     Names  Games_Won
0   Murilo        298
1  Barbara        121
2     Draw        292

In [19]:
# Update score
score_df = wordle.score()
score_df

     Names  Games_Won
0   Murilo        298
1  Barbara        121
2     Draw        292

In [20]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won
 Murilo        298
Barbara        121
   Draw        292

#### Git commit message

In [21]:
# git commit message
commit_message = wordle.get_commit_message()
print(commit_message)

git commit -m "updated wordle 298-121-292"

In [22]:
# help(wordle.reset_score)

#### Set custom score

In [23]:
# help(wordle.set_score)

In [24]:
# # Set custom score
# df = wordle.set_score(m_score=265, b_score=109, draw_score=261)
# df

#### Reset score

In [25]:
## Reset score
# wordle.reset_score()