# Wordle Solver

In [1]:
from wordle.utils import Wordle

%load_ext autoreload
%autoreload 2

### Play Wordle

In [2]:
# Initialize Wordle class
wordle = Wordle()

# Main function that returns a list of possible words
green_letters = "asl"
green_positions = [3, 1, 2]
yellow_letters = ""
yellow_positions = []
gray_letters = "tireck"

# Find words in a list of possible words
words = wordle.find_words(
    green_letters,
    green_positions,
    yellow_letters,
    yellow_positions,
    gray_letters,
    answer_word_list=True,
)

# Choose a word to play
wordle.choose_word_to_play(word_threshold=2)

Number of possible words: 2
slang 8.0
slash 7.0

In [3]:
# Repetitive letters
letters_df = wordle.repetitive_letters()
print(letters_df.to_string(index=False))

Letters  Count
      S      3
      L      2
      A      2
      N      1
      G      1
      H      1

In [4]:
df = wordle.load_data()
df

     Names  Games_Won
0   Murilo        319
1  Barbara        134
2     Draw        312

In [5]:
# Update score
score_df = wordle.score()
score_df

     Names  Games_Won
0   Murilo        319
1  Barbara        134
2     Draw        313

In [6]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won
 Murilo        319
Barbara        134
   Draw        313

#### Git commit message

In [7]:
# git commit message
commit_message = wordle.get_commit_message()
print(commit_message)

git commit -m "updated wordle 319-134-313"

#### Set custom score

In [8]:
# help(wordle.reset_score)

In [9]:
# help(wordle.set_score)

In [10]:
# # Set custom score
# df = wordle.set_score(m_score=311, b_score=132, draw_score=308)
# df

#### Reset score

In [11]:
## Reset score
# wordle.reset_score()

In [12]:
raleigh = 1800 / 5000
# intel = round(2500 / (10000 + (20000 / 12)), 2)
intel = 2500 / 10000
print(f"Raleigh: {raleigh}%, Intel: {intel}%")

Raleigh: 0.36%, Intel: 0.25%

In [13]:
# monthly expenses
pay = 9800
rent = 2500
food = 800
car = 300
gas = 60
insurance = 200
utilities = 100
gym = 60
extra = 600
total = rent + food + car + gas + insurance + utilities + gym + extra
savings = round((pay - total) / pay, 2)
savings

0.53