# Wordle Solver

In [1]:
%run -i wordle_functions.py

In [2]:
# help(main)

In [3]:
# Main function that returns a list of possible words
green_letters = ''
green_positions = []
yellow_letters = 'CET'
yellow_positions = [1,5,4]
bad_letters = 'RANFILH'

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['eject', 'octet']

In [4]:
# Repetitive letters
letters_df = repetitive_letters(wordle_list=words)
print(letters_df.to_string(index=False))

Letters  Count
      E      3
      T      3
      C      2
      J      1
      O      1

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST, SPOUT

In [5]:
# GLEAN, LADEN, NAVEL, PANEL, PENAL

In [6]:
# Main function that returns a list of possible words
green_letters = ''
green_positions = []
yellow_letters = 'THLI'
yellow_positions = []
bad_letters = ''

# Main function that returns a list of possible words
words = main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)
print(words)

['filth', 'light', 'lithe']

In [7]:
# help(score)

In [8]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won
0   Murilo         69
1  Barbara         30
2     Draw         56

In [9]:
# Update score
score_df = score()
score_df

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D]: M

     Names  Games_Won
0   Murilo         70
1  Barbara         30
2     Draw         56

In [10]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won
 Murilo         70
Barbara         30
   Draw         56

In [11]:
# help(reset_score)

#### Set custom score

In [12]:
# help(set_score)

In [13]:
# # Set custom score
# df = set_score(m_score=21, b_score=10, draw_score=18)
# df

#### Reset score

In [14]:
## Reset score
# reset_score()