# Wordle Solver

In [1]:
%run -i wordle_functions.py

In [2]:
help(main)

Help on function main in module __main__:

main(green_letters: str, green_letter_positions: list, yellow_letters: str, yellow_letter_positions: list, bad_letters: str) -> None
    Function takes  4 arguments:
    1. green_letters --> string that represents green letters in wordle guess
    2. green_letter_positions --> list of the positions of the green_letters ranging from 1 to 5
    3. yellow_letters --> string that represents yellow letters in wordle guess
    4. yellow_letter_positions --> list of the positions of the yellow_letters ranging from 1 to 5
    5. bad_letters --> string that represents gray letters in wordle guess

In [3]:
# Main function that returns a list of possible words
green_letters = 'CRA'
green_positions = [1,2,3]
yellow_letters = ''
yellow_positions = []
bad_letters = 'NESTIK'

# Main function that returns a list of possible words
main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)

['cramp', 'crawl', 'crazy']

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST, SPOUT

In [4]:
# DITTO, HOTLY, LOFTY, MOTIF, MOTTO, TODDY

In [5]:
# Main function that returns a list of possible words
green_letters = ''
green_positions = []
yellow_letters = 'MLY'
yellow_positions = []
bad_letters = ''

# Main function that returns a list of possible words
main(green_letters, green_positions, yellow_letters, yellow_positions, bad_letters)

['amply', 'balmy', 'dimly', 'filmy', 'imply', 'loamy', 'lumpy', 'lymph', 'madly', 'manly', 'mealy', 'milky', 'moldy', 'slimy']

In [6]:
# help(score)

In [7]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won  Draw
0   Murilo         14    12
1  Barbara          8    12

In [8]:
# Update score
score_df = score()
score_df

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D]: B

     Names  Games_Won  Draw
0   Murilo         14    12
1  Barbara          9    12

In [9]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won  Draw
 Murilo         14    12
Barbara          9    12

In [10]:
# help(reset_score)

#### Set custom score

In [11]:
# help(set_score)

In [12]:
## Set custom score
# df = set_score(m_score=10, b_score=4, draw=6)
# df

#### Reset score

In [13]:
## Reset score
# reset_score()