# Wordle Functions
## Program to solve wordle

In [1]:
import numpy as np

In [2]:
# Function to load words text file and return a list of words
def load_words(file_path):
    my_file = open(file_path, "r")
    content = my_file.read()
    words = content.split('\n')
    return words

In [3]:
# Words list
words = load_words(file_path="wordle-answers-alphabetical.txt")

# First 10 words
print(words[:10])

['aback', 'abase', 'abate', 'abbey', 'abbot', 'abhor', 'abide', 'abled', 'abode', 'abort']

In [4]:
def find_words(words, good_letters, yellow_letters, bad_letters, letter_positions):
    # List of possible words
    possible_words = []
    # Subtract 1 from every value in letter_positions 
    letter_positions = np.array(letter_positions)-1
    
    # Iterate over each word in Wordle
    for w in range(len(words)):
        # Check words that dont' have bad_letters and have yellow_letters
        if not any((l in words[w]) for l in bad_letters) and all((l in words[w]) for l in yellow_letters):
            # Check position of letters in word if it has green letters
            if (len(good_letters) and len(letter_positions)) > 0:
                # Go through each letter and check if they're in the right place
                for n in range(len(letter_positions)):
                    if str(words[w][letter_positions[n]]) == str(good_letters[n]):
                        if n == len(letter_positions)-1:
                            possible_words.append(words[w])
                    else:
                        break
            else:
                possible_words.append(words[w])
                        
    # Return list of possible words
    return possible_words

In [5]:
def main():
    # Words list
    words = load_words(file_path="wordle-answers-alphabetical.txt")
    
    # Variables
    good_letters = 'R'.lower()
    letter_positions = [1]
    yellow_letters = 'ETOR'.lower()
    bad_letters = 'SALCHIF'.lower()
    
    # Return list of possible words
    print(find_words(words,
                     good_letters=good_letters,
                     yellow_letters=yellow_letters,
                     bad_letters=bad_letters,
                     letter_positions=letter_positions))
    
if __name__ == '__main__':
    main()

['retro', 'route']

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON

In [6]:
# FORTE, METRO, RETRO, ROUTE, TROPE, TROVE, WROTE

In [7]:
def main():
    # Words list
    words = load_words(file_path="wordle-answers-alphabetical.txt")
    
    # Variables
    good_letters = ''.lower()
    letter_positions = []
    yellow_letters = 'MDH'.lower()
    bad_letters = ''.lower()
    
    # Return list of possible words
    print(find_words(words,
                     good_letters=good_letters,
                     yellow_letters=yellow_letters,
                     bad_letters=bad_letters,
                     letter_positions=letter_positions))
    
if __name__ == '__main__':
    main()

['humid']

In [8]:
import pandas as pd

In [9]:
def load_data(file_name = 'wordle_ranking.csv'):
    df = pd.read_csv(file_name)
    return df

In [10]:
# Function to compute the score
def score():
	"""
	Function that tracks the score for wordle. There are 3 possibilities:
	1. Murilo wins
	2. Barbara wins
	3. Draw; no winners
	"""
	# Load data
	data = load_data(file_name = 'wordle_ranking.csv')
	
	# Filter for Murilo and Barbara rows
	m_df = data[data['Names'] == 'Murilo'].copy()
	b_df = data[data['Names'] == 'Barbara'].copy()
	
	# Select winner
	winner = input("Who won the game? Murilo, Barbara, or Draw? \
		\nEnter 'M' if Murilo won. \
		\nEnter 'B'' if Barbara won. \
		\nEnter 'D' if it was a Draw. \
		\nPlease enter [M/B/D]").lower()
	
	# Add points to winner
	if winner == 'M'.lower():
		m_df['Games_Won'] = m_df['Games_Won'] + 1
	elif winner == 'B'.lower():
		b_df['Games_Won'] = b_df['Games_Won'] + 1
	elif winner == 'D'.lower():
		b_df['Draw'] = b_df['Draw'] + 1
		m_df['Draw'] = m_df['Draw'] + 1
		
	# Convert into DataFrame
	frames = [m_df, b_df]
	df = pd.concat(frames)
	
	# Write DF to CSV
	df.to_csv('wordle_ranking.csv', index=False)
	
	return df

In [11]:
score()

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B'' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D] k

     Names  Games_Won  Draw
0   Murilo          6     1
1  Barbara          1     1

In [13]:
# Function that reset the score
def reset_score():
    """
    Function that resets the score.
    Enter 'y' to reset the score
    Enter 'n' to not reset the score
    """
    # reset = input('Would you like to reset the ranking? [y/n]')
    reset = 'n'
    if reset == 'y':
        data = [['Murilo', 0, 0], ['Barbara', 0, 0]]
        df = pd.DataFrame(data, columns=['Names', 'Games_Won', 'Draw'])
        df.to_csv('wordle_ranking.csv', index=False)
    else:
        return 'Ranking is not reset'
    
    return df

In [14]:
df = load_data()
df

     Names  Games_Won  Draw
0   Murilo          6     1
1  Barbara          1     1

In [15]:
reset_score()

'Ranking is not reset'

### Exercises

In [16]:
import regex as re
s = 'Why,hELLo worlD#ONE!'
print(re.sub('[a-z,#]', '', s))

WELL DONE!

In [17]:
class P:
    def __init__(self, age):
        self.age = age

    def __str__(self):
        return f"Age: {self.age}"

p = P(10)
print(p)

Age: 10

In [18]:
import numpy as np
nums = np.arange(10)
print(nums)
print(nums[nums % 3 == 0])

[0 1 2 3 4 5 6 7 8 9]
[0 3 6 9]

In [19]:
set1, set2 = {2, 3, 4}, {3, 4, 5}
set1 |= set2
set1

{2, 3, 4, 5}

In [20]:
d = { }
for i in range(3):
    for j in range (3):
        d[i] = i*j
        # print(d)
print(d)

{0: 0, 1: 2, 2: 4}

In [21]:
def fct(string, num):
    ans = []
    for i in range(len(string)):
        sub = ''
        for j in range(i, len(string), num):
            sub += string[j]
        ans.append(sub)
        if len(ans) == num:
            break
    return ans
    
print(fct('fboaor', 2))
print(fct('fbboaaorz', 3))
print(fct('sejpgoagkmse', 3))

['foo', 'bar']
['foo', 'bar', 'baz']
['spam', 'eggs', 'joke']

In [22]:
# Computing string permutation
def fct(string, num):
    return [string[i::num] for i in range(num)]

  
# Main function with test cases
def main():
    test_cases = [
        ['fboaor', 2],
        ['fbboaaorz', 3],
        ['sejpgoagkmse', 3]
    ]
    for s, n in test_cases:
        print(fct(s, n))


# Calling main function and printing results
if __name__ == '__main__':
    main()

['foo', 'bar']
['foo', 'bar', 'baz']
['spam', 'eggs', 'joke']

In [23]:
# print a piramid
n = 5
for i in range(1, n+1):
    print(str('*'*i).rjust(n) + str('*'*(i-1)).ljust(n))

    *
   ***
  *****
 *******
*********

In [24]:
n = 5
for i in range(1, n+1):
    print(str('*'*i).rjust(n) + str('*'*(i-1)).ljust(n))
    
for i in range(n-1, 0, -1):
    print(str('*'*i).rjust(n) + str('*'*(i-1)).ljust(n))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [25]:
# Function that return the total value of the hand
def count_cards(hand):
    total = 0
    
    for i in hand:
        if i.isnumeric():
            total += int(i)
        else:
            if i in ['J','Q','K']:
                total += 10
            if i == 'A':
                total += 10
    if 'A' in hand:
        for a in hand:
            if a == 'A' and total > 21:
                total -= 9
    return total

def blackjack_hand_greater_than(hand_1, hand_2, return_numbers=False):
    """
    Return True if hand_1 beats hand_2, and False otherwise.
    
    In order for hand_1 to beat hand_2 the following must be true:
    - The total of hand_1 must not exceed 21
    - The total of hand_1 must exceed the total of hand_2 OR hand_2's total must exceed 21
    
    Hands are represented as a list of cards. Each card is represented by a string.
    
    When adding up a hand's total, cards with numbers count for that many points. Face
    cards ('J', 'Q', and 'K') are worth 10 points. 'A' can count for 1 or 11.
    
    When determining a hand's total, you should try to count aces in the way that 
    maximizes the hand's total without going over 21. e.g. the total of ['A', 'A', '9'] is 21,
    the total of ['A', 'A', '9', '3'] is 14.
    
    Examples:
    >>> blackjack_hand_greater_than(['K'], ['3', '4'])
    True
    >>> blackjack_hand_greater_than(['K'], ['10'])
    False
    >>> blackjack_hand_greater_than(['K', 'K', '2'], ['3'])
    False
    """
    # Getting total value for each hand
    h_1 = count_cards(hand_1)
    h_2 = count_cards(hand_2)
    
    if return_numbers == True:
        return h_1, h_2
    else:
    
        # Conditional statements
        if (h_1 > h_2 or h_2 > 21) and h_1 <= 21:
            return True
        if h_1 <= h_2 or h_1 > 21:
            return False

In [26]:
print(blackjack_hand_greater_than(['K'], ['3', '4']))
print(blackjack_hand_greater_than(['K'], ['10']))
print(blackjack_hand_greater_than(['K', 'K', '2'], ['3']))

True
False
False

In [27]:
print(blackjack_hand_greater_than(['9'], ['9', 'Q', '8', 'A']))

True

In [28]:
print(blackjack_hand_greater_than(hand_1=['2', 'A', '5', 'Q', '4'], hand_2=['J', '4', '3', 'A', '10'], return_numbers=True))
print(blackjack_hand_greater_than(hand_1=['2', 'A', '5', 'Q', '4'], hand_2=['J', '4', '3', 'A', '10'], return_numbers=False))

(22, 28)
False

In [29]:
# Recursion
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n-1)

for i in range(1, 21):
    print(f"{i}: {factorial(i)}")

1: 1
2: 2
3: 6
4: 24
5: 120
6: 720
7: 5040
8: 40320
9: 362880
10: 3628800
11: 39916800
12: 479001600
13: 6227020800
14: 87178291200
15: 1307674368000
16: 20922789888000
17: 355687428096000
18: 6402373705728000
19: 121645100408832000
20: 2432902008176640000

In [30]:
len(str(factorial(20)))

19

In [31]:
for i in range(8, 90, 3):
    print(i, end=' ')

8 11 14 17 20 23 26 29 32 35 38 41 44 47 50 53 56 59 62 65 68 71 74 77 80 83 86 89

In [32]:
for i in range(100, 1, -2):
    print(i, end=' ')

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [33]:
A = 10
B = 7
CD = 5
E = 1
F = 6
G = 1

In [34]:
for i in range(4):
    print('*'*6)

******
******
******
******

In [35]:
for i in range(4):
    print('*'*(i+1))

*
**
***
****

In [36]:
for i in range(1, 5):
    print('A'*i, end='')
for i in range(7):
    print('B', end='')
for i in range(4):
    print('CD', end='')
print('E', end='')
for i in range(6):
    print('F', end='')
print('G')

AAAAAAAAAABBBBBBBCDCDCDCDEFFFFFFG

In [37]:
for i in range(5):
    print('CD')

CD
CD
CD
CD
CD

In [38]:
# name = input('What your name? ')
# num = int(input('How many times you want to print your name? '))
name = 'Murilo'
num = 5
for i in range(1, num+1):
    print(name, end=' ')

Murilo Murilo Murilo Murilo Murilo

In [39]:
fib = 10
a, b = 1, 1
print(a, b, end=' ')
for i in range(fib):
    a, b = b, a+b
    print(b, end=' ')

1 1 2 3 5 8 13 21 34 55 89 144