# Wordle Solver

In [1]:
%run -i wordle_functions.py

In [2]:
help(main)

Help on function main in module __main__:

main(good_letters, letter_positions, yellow_letters, bad_letters)
    Function takes  4 arguments:
    1. good_letters --> string that represents green letters in wordle guess
    2. letter_positions --> list of the positions of the good_letters ranging from 1 to 5
    3. yellow_letters --> string that represents yellow letters in wordle guess
    4. bad_letters --> string that represents gray letters in wordle guess

In [3]:
# Main function that returns a list of possible words
good_letters = 'E'
letter_positions = [5]
yellow_letters = 'CO'
bad_letters = 'RANSHUT'

# Main function that returns a list of possible words
main(good_letters, letter_positions, yellow_letters, bad_letters)

['clove', 'voice']

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON

In [4]:
# SERIF, SEVER, SEWER, SKIER, SPERM

In [5]:
# Main function that returns a list of possible words
good_letters = ''
letter_positions = []
yellow_letters = 'DG'
bad_letters = 'OUE'

# Main function that returns a list of possible words
main(good_letters, letter_positions, yellow_letters, bad_letters)

['digit', 'dingy', 'dying', 'giddy', 'gland', 'grand', 'grind', 'rigid']

In [6]:
# help(score)

In [7]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won  Draw
0   Murilo          7     3
1  Barbara          2     3

In [8]:
# Update score
score_df = score()
score_df

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D] k

     Names  Games_Won  Draw
0   Murilo          7     3
1  Barbara          2     3

In [9]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won  Draw
 Murilo          7     3
Barbara          2     3

In [10]:
# help(reset_score)

#### Set custom score

In [11]:
# Set custom score
# df = set_score(m_score, b_score, draw)
# df

#### Reset score

In [12]:
# Reset score
# reset_score()