# Wordle Solver

In [5]:
%run -i wordle_functions.py

In [6]:
help(main)

Help on function main in module __main__:

main(good_letters, letter_positions, yellow_letters, bad_letters)
    Function takes  4 arguments:
    1. good_letters --> string that represents green letters in wordle guess
    2. letter_positions --> list of the positions of the good_letters ranging from 1 to 5
    3. yellow_letters --> string that represents yellow letters in wordle guess
    4. bad_letters --> string that represents gray letters in wordle guess

In [58]:
# Main function that returns a list of possible words
good_letters = 'AN'
letter_positions = [3,4]
yellow_letters = ''
bad_letters = 'CRESHOUT'

# Main function that returns a list of possible words
main(good_letters, letter_positions, yellow_letters, bad_letters)

['bland', 'blank', 'flank', 'gland', 'plank']

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON

In [59]:
# BERTH, ETHER

In [60]:
# Main function that returns a list of possible words
good_letters = ''
letter_positions = []
yellow_letters = 'DMI'
bad_letters = ''

# Main function that returns a list of possible words
main(good_letters, letter_positions, yellow_letters, bad_letters)

['admin', 'admit', 'denim', 'dimly', 'humid', 'idiom', 'media', 'medic', 'midge', 'midst', 'timid']

In [61]:
# help(score)

In [62]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won  Draw
0   Murilo          9     4
1  Barbara          3     4

In [63]:
# Update score
score_df = score()
score_df

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D] B

     Names  Games_Won  Draw
0   Murilo          9     4
1  Barbara          4     4

In [64]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won  Draw
 Murilo          9     4
Barbara          4     4

In [65]:
# help(reset_score)

#### Set custom score

In [66]:
# Set custom score
# df = set_score(m_score, b_score, draw)
# df

#### Reset score

In [67]:
# Reset score
# reset_score()