# Wordle Solver

In [1]:
%run -i wordle_functions.py

In [2]:
help(main)

Help on function main in module __main__:

main(good_letters, letter_positions, yellow_letters, bad_letters)
    Function takes  4 arguments:
    1. good_letters --> string that represents green letters in wordle guess
    2. letter_positions --> list of the positions of the good_letters ranging from 1 to 5
    3. yellow_letters --> string that represents yellow letters in wordle guess
    4. bad_letters --> string that represents gray letters in wordle guess

In [10]:
# Main function that returns a list of possible words
good_letters = ''
letter_positions = []
yellow_letters = 'CA'
bad_letters = 'RNEMIDSTFLSH'

# Main function that returns a list of possible words
main(good_letters, letter_positions, yellow_letters, bad_letters)

['aback', 'cabby', 'cacao', 'cocoa', 'quack', 'wacky']

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST

In [11]:
# FOCAL, HAVOC, LOCAL, VOCAL, WACKY

In [12]:
# Main function that returns a list of possible words
good_letters = ''
letter_positions = []
yellow_letters = 'FLH'
bad_letters = ''

# Main function that returns a list of possible words
main(good_letters, letter_positions, yellow_letters, bad_letters)

['filth', 'flash', 'flesh', 'flush', 'shelf']

In [13]:
# help(score)

In [17]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won  Draw
0   Murilo         10     6
1  Barbara          4     6

In [18]:
# Update score
score_df = score()
score_df

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D] D

     Names  Games_Won  Draw
0   Murilo         10     7
1  Barbara          4     7

In [19]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won  Draw
 Murilo         10     7
Barbara          4     7

In [20]:
# help(reset_score)

#### Set custom score

In [21]:
## Set custom score
# df = set_score(m_score=10, b_score=4, draw=6)
# df

#### Reset score

In [22]:
## Reset score
# reset_score()