# Wordle Solver

In [1]:
%run -i wordle_functions.py

In [2]:
help(main)

Help on function main in module __main__:

main(good_letters, letter_positions, yellow_letters, bad_letters)
    Function takes  4 arguments:
    1. good_letters --> string that represents green letters in wordle guess
    2. letter_positions --> list of the positions of the good_letters ranging from 1 to 5
    3. yellow_letters --> string that represents yellow letters in wordle guess
    4. bad_letters --> string that represents gray letters in wordle guess

In [34]:
# Main function that returns a list of possible words
good_letters = ''
letter_positions = []
yellow_letters = 'OT'
bad_letters = 'CRANESPU'

# Main function that returns a list of possible words
main(good_letters, letter_positions, yellow_letters, bad_letters)

['bigot', 'booth', 'booty', 'ditto', 'hotly', 'idiot', 'lofty', 'motif', 'motto', 'toddy', 'tooth', 'vomit']

#### Good words:
SALET, CRANE, SHOUT, AUDIO, SLICE, SLICK, SPLIT, STUDY, INCUR, CHOIR, CROWN, CROWD, CRONE, POISE, OLIVE, DUNCE, BINGO, BISON, MIDST, SPOUT

In [35]:
# DITTO, HOTLY, LOFTY, MOTIF, MOTTO, TODDY

In [25]:
# Main function that returns a list of possible words
good_letters = 'O'
letter_positions = [2]
yellow_letters = 'D'
bad_letters = ''

# Main function that returns a list of possible words
main(good_letters, letter_positions, yellow_letters, bad_letters)

['briny', 'cynic', 'kinky', 'ninny', 'pinky', 'vying', 'whiny']

In [26]:
# help(score)

In [27]:
df = load_data(file_name='wordle_ranking.csv')
df

     Names  Games_Won  Draw
0   Murilo         12    10
1  Barbara          7    10

In [28]:
# Update score
score_df = score()
score_df

Who won the game? Murilo, Barbara, or Draw?
Enter 'M' if Murilo won.
Enter 'B' if Barbara won.
Enter 'D' if it was a Draw.
Please enter [M/B/D] M

     Names  Games_Won  Draw
0   Murilo         13    10
1  Barbara          7    10

In [29]:
# Print results
print(score_df.to_string(index=False))

  Names  Games_Won  Draw
 Murilo         13    10
Barbara          7    10

In [30]:
# help(reset_score)

#### Set custom score

In [31]:
# help(set_score)

In [32]:
## Set custom score
# df = set_score(m_score=10, b_score=4, draw=6)
# df

#### Reset score

In [33]:
## Reset score
# reset_score()